<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myfunctionapp064.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f981c829-82e1-44ea-b504-757a57388609/resourceGroups/rg-fxapp/providers/Microsoft.Web/sites/myfunctionapp064</ResourceId>
    <UserName>$myfunctionapp064</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://myfunctionapp064.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>